<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SocialMedia</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SocialMedia.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/topnav.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Post.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/UserSearch.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/CreatePost.css" asp-append-version="true" />
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow topnav" style="background-color: rgb(91, 100, 129);">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SocialMedia</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse">

                    <!-- Left aligned -->
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                    </ul>

                    <!-- Center aligned -->
                    <div class="mx-auto">
                        <partial name="_UserSearch" />
                    </div>

                    <!-- Right Aligned -->
                    <ul class="navbar-nav ms-auto">
                        @if (User.Identity.IsAuthenticated)
                        {
                        @using Microsoft.AspNetCore.Identity
                        @inject UserManager<User> UserManager
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Users" asp-action="Details" asp-route-id="@UserManager.GetUserId(User)">Profile</a>
                            </li>


                            <!-- notification dropdown-->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="notificationDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Notifications <span id="notificationCount" class="badge bg-danger">0</span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="notificationDropdownMenuLink" id="notificationDropdown">
                                    <li>No notifications right now.</li>
                                </ul>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Help">Help</a>
                        </li>
                    </ul>
                    <partial name="_loginPartial"/>
                </div>
            </div>
        </nav>
    </header>
    <div class="">
        <div class="container mx-auto feed">
            <main role="main" class="">
                @RenderBody()
            </main>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - SocialMedia - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/UserSearch.js" asp-append-version="true"></script>
    <script src="~/js/signalr/dist/browser/signalr.js" asp-append-version="true"></script>
    <script src="~/js/signalr/dist/browser/signalr.min.js" asp-append-version="true"></script>
    <script src="~/js/notification.js" asp-append-version="true"></script>
    
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
