@page
@model LoginModel
@{
    Layout = null; // Remove the layout for this specific page
    ViewData["Title"] = "Log in";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SocialMedia</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Login.css"/> <!-- Login page specific styles -->
</head>
<body class="login-body">
    <div class="container mt-5 col-12 col-lg-11">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card loginBox">
                    <h2 class="card-title ml-4 mb-0 text-left login-title bg-white text-dark">
                        Log into your account
                    </h2>
                    <div class="card-body pt-0">
                        <form id="account" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                            <div class="form-group mb-0">
                                <label asp-for="Input.Email" class="formprompt"><b>Email</b></label>
                                <input asp-for="Input.Email" id="Input_Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Enter your email" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Input.Password" class="formprompt"><b>Password</b></label>
                                <input asp-for="Input.Password" id="Input_Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Enter your password" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>

                            <div class="form-group form-check">
                                <input asp-for="Input.RememberMe" id="Input_RememberMe" class="form-check-input" />
                                <label class="form-check-label" for="Input_RememberMe">Remember me</label>
                            </div>

                            <div class="form-group">
                                <button id="login-submit" type="submit" class="btn btn-primary btn-block">Log in</button>
                            </div>

                            <div class="text-left pb-0">
                                <p>
                                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                                </p>
                                <p>
                                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Don't have an account? Register</a>
                                </p>
                                <p>
                                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                                </p>
                            </div>
                        </form>
                        <a></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <partial name="_ValidationScriptsPartial" />

</body>
</html>
