@model IEnumerable<SocialMedia.Models.Post>

@{
    ViewData["Title"] = "Posts Feed";
}

<div class="container pt-2">
    <div class="d-flex justify-content-center mb-4">
        <a class="btn btn-primary" asp-controller="Posts" asp-action="Create">
            Create Post
        </a>
    </div>
    @foreach (var post in Model)
    {
        <partial name="_Post" model="post" />
    }


</div>

@section Scripts {
    <script src="~/js/PostLikeDislike.js"></script>
}