@model IEnumerable<int>

@{
    ViewData["Title"] = "Posts Feed";
}

<div class="container pt-2">
    <div class="d-flex justify-content-center mb-4">
        <a class="btn btn-primary" asp-controller="Posts" asp-action="Create">
            Create Post
        </a>
    </div>
    <div id="posts-container"
        <!-- container for posts, posts to be loaded via ajax-->
        <div id="loading" style="display: none;">Loading...</div>
    </div>

</div>

@section Scripts {
    <script src="~/js/PostLikeDislike.js"></script>
    <script src="~/js/PostLoader.js"></script>
    <script>
        const postIds = @Html.Raw(Json.Serialize(Model));
        console.log(postIds);
    </script>
}